<div fxLayout="column">
    <p class="mat-body-2">Follow us</p>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="35px">
        <a target="_blank" rel="noopener" href="https://www.linkedin.com/company/lyrebirds">
            <fa-icon style="font-size: 2.5em; color: whitesmoke" [icon]="['fab', 'linkedin']"></fa-icon>
        </a>
        <a target="_blank" rel="noopener" href="https://www.twitter.com/lyrebirds_dk">
            <fa-icon style="font-size: 2.5em; color: whitesmoke" [icon]="['fab', 'twitter']"></fa-icon>
        </a>
    </div>
    <p class="mat-caption">© 2019 Lyrebirds ApS</p>
</div>