<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Kalam|Nunito+Sans&display=swap" rel="stylesheet">

<div class="navigation">
  <mat-toolbar color="primary" [ngClass]="{'toolbar': true, 'transparent': false }"
    [ngClass.gt-sm]="{'toolbar': true, 'transparent': !scrolled }">
    <button mat-icon-button (click)="sidenav.toggle();" fxShow="true" fxHide.gt-sm>
      <ng-container *ngIf="!sidenav.opened; else elseTemplate">
        <mat-icon inline=true>menu</mat-icon>
      </ng-container>
      <ng-template #elseTemplate>
        <mat-icon inline=true>close</mat-icon>
      </ng-template>
    </button>
    <span fxFlex.gt-sm="1 1 auto"></span>
    <div class="mat-headline">{{ title }}</div>
    <span fxFlex="1 1 auto"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button (click)="scrollTo(anchor.id)" *ngFor="let anchor of anchors"
        [ngClass.gt-sm]="{ 'button-hover': !scrolled }">
        <div class="mat-button">
          {{ anchor.name }}
        </div>
      </a>
    </div>
    <span fxFlex.gt-sm="1 1 auto"></span>
  </mat-toolbar>

  <mat-sidenav-container class="container" fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle(); scrollTo(anchor.id)" mat-list-item *ngFor="let anchor of anchors">
          <div class="mat-button sidebar">
            {{ anchor.name }}
          </div>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content #content fxLayout="column" fxLayoutAlign="space-between">
      <div>
        <div id="hero" class="hero mat-elevation-z4">
          <img class="hero-image" src="/assets/img/cable_haunt_gradient.png">
        </div>
        <div class="content">
          <!-- WHAT IS Cable Haunt? -->
          <div class="mat-display-2">
            What is Cable Haunt?
          </div>
          <p class="mat-body-2">
            Cable Haunt is a critical vulnerability found in cable modems from various manufacturers across the world.
            The vulnerability enables remote attackers to execute abitrary code on your modem, indirectly through an
            endpoint on
            the modem. Your cable modem is in charge of the internet traffic for all devices on the network. Cable Haunt
            might therefore be exploited to intercept private messages, redirect traffic, or participation in botnets.
          </p>
          <p class="mat-body-2">
            The vulnerable endpoint is exposed to the local network, but can be reached remotely due to improper
            WebSocket usage. Through malicious communication with this endpoint, a <a target="_blank"
              href="https://en.wikipedia.org/wiki/Buffer_overflow">buffer overflow</a> can be exploited to gain control
            of the modem. The technical report can be downloaded below.
          </p>
          <div class="card-container" fxLayout="row wrap" fxLayoutAlign="center stretch">
            <mat-card fxLayout="column">
              <mat-card-title>Technical Report</mat-card-title>
              <mat-card-content>
                <p class="mat-body-2">Here you can download the technical report, if you wish to verify our findings, or
                  help expand the research</p>
              </mat-card-content>
              <mat-card-actions>
                <a id="technical-report-download-button"
                  href="https://github.com/Lyrebirds/Cable-Haunt-Report/releases/latest/download/report.pdf"
                  mat-raised-button color="primary">Download</a>
              </mat-card-actions>
            </mat-card>
            <mat-card fxLayout="column">
              <mat-card-title>POC Exploit</mat-card-title>
              <mat-card-content>
                <p>Here you have a proof of concept exploit for the sagemcom F@st 3890 modem, if you want to try out
                  exploiting Cable Haunt for yourself.</p>
              </mat-card-content>
              <mat-card-actions>
                <a target="_blank" href="https://github.com/Lyrebirds/sagemcom-fast-3890-exploit" mat-raised-button
                  color="primary">View Exploit</a>
              </mat-card-actions>
            </mat-card>
            <mat-card fxLayout="column">
              <mat-card-title>Test Script</mat-card-title>
              <mat-card-content>
                <p>We have developed a script that tests whether your modem is vulnerable. You could still be vulnerable
                  even if the script fails. We recommend reading the <a style="color: rgb(0, 0, 220); cursor: pointer;"
                    (click)="scrollToAndExpand('faq-am-i-affected', 0)">"Am I Affected?"-FAQ</a>.</p>
              </mat-card-content>
              <mat-card-actions>
                <a id="test-script-repo-button" target="_blank"
                  href="https://github.com/Lyrebirds/cable-haunt-vulnerability-test" mat-raised-button
                  color="primary">View Script</a>
              </mat-card-actions>
            </mat-card>
          </div>
          <div class="mat-title">Who is Affected</div>
          <p class="mat-body-2">
            There are an estimated 200 million cable modems in Europe alone. With almost no cable modem tested being
            secure without a firmware update, the number of modems initially vulnerable in Europe is estimated to be
            close to this number. However, it is tough to give a precise estimate of the reach of Cable Haunt. The
            reason for this is that the vulnerability originated in reference software, which has seemingly been copied
            by different cable modems manufacturers when creating their cable modem firmware. This means that we have
            not been able to track the exact spread of the vulnerability and that it might present itself in slightly
            different ways for different manufacturers. We have contacted as many of the largest ISPs and manufacturers
            as we could ahead of time, to give them time to fix the issue, but with varying success. Some of the
            contacted ISPs have informed us that they have or are rolling out firmware updates; however, we are still
            missing updates form several, and some have whished not to be listed on this website. The ISPs that have
            confirmed their modems are secure can be found <a
              (click)="scrollToAndExpand('faq-am-i-affected', 0)">below</a>.
          </p>
          <p class="mat-body-2">
            The purpose of this website, is to inform as many affected users and providers as possible, in order to
            improve their ability to protect themselves.
          </p>
          <div class="mat-title">Who Discovered Cable Haunt</div>
          <div class="mat-body-2">
            Cable Haunt was discovered by:
            <ul>
              <li><a target="_blank" href="https://www.linkedin.com/in/alexander-krog-91b6613b/">Alexander Dalsgaard
                  Krog</a> (<a target="_blank" href="https://lyrebirds.dk">Lyrebirds</a>)</li>
              <li><a target="_blank" href="https://www.linkedin.com/in/jens-staermose/">Jens Hegner Stærmose</a> (<a
                  target="_blank" href="https://lyrebirds.dk">Lyrebirds</a>)</li>
              <li><a target="_blank" href="https://www.linkedin.com/in/kasper-terndrup/">Kasper Kohsel Terndrup</a> (<a
                  target="_blank" href="https://lyrebirds.dk">Lyrebirds</a>)</li>
              <li><a target="_blank" href="https://www.linkedin.com/in/simon-vandel-sillesen-96469b90/">Simon Vandel
                  Sillesen</a> (Independent)</li>
            </ul>
            If you wish to contact us regarding Cable Haunt, you can reach us at <a
              href="mailto:cablehaunt@lyrebirds.dk" target="_blank">cablehaunt@lyrebirds.dk</a>, or on twitter <a
              target="_blank" href="https://twitter.com/lyrebirds_dk" target="_blank">@lyrebirds_dk</a>.
          </div>
          <div id="how-it-works" class="mat-display-2">How it Works</div>
          <p class="mat-body-2">
            Cable Haunt is exploited in two steps. First, access to the vulnerable endpoint is gained through a client
            on the local network, such as a browser. Secondly the vulnerable endpoint is hit with a buffer overflow
            attack,
            which gives the attacker control of the modem.
          </p>
          <div class="mat-title">Accessing the Endpoint</div>
          <p class="mat-body-2">
            The endpoint, which serves a tool called spectrum analyzer, uses a WebSocket for communication with the
            graphical frontend displayed in a browser. Whereas <a target="_blank"
              href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS" target="_blank">CORS</a> would restrict
            access to such an endpoint for HTTP requests, WebSocket is not protected by this protocol. Therefore, it is
            up to the server to verify the relevant request parameters added by the browser. Because these parameters
            are never inspected by the cable modem, the WebSocket will accept requests made by javascript running in the
            browser regardless of origin, thereby allowing attackers to reach the endpoint. It should be noted that the
            exploit is not limited to run in a browser. Any place where running code can reach an IP on the local
            network, can be used to exploit Cable Haunt.
          </p>
          <div class="mat-title">Taking Control</div>
          <p class="mat-body-2">
            Once the WebSocket has been reached, the buffer overflow vulnerability can be exploited. The WebSocket
            requests are given as JSON. The parser which interprets this JSON request, will copy the input parameters to
            a buffer, regardless of length, allowing values on the stack to be overwritten. Among these values are
            saved registers, such as the program counter and return address. With a carefully crafted message the modem
            can be manipulated to execute arbitrary code specified by a remote attacker. Once control has been achieved
            by an attacker, it can be abused in many ways. Some examples are:
          </p>
          <div class="mat-body-2">
            <ul>
              <li>Change default DNS server</li>
              <li>Conduct remote man-in-the-middle attacks</li>
              <li>Hot-swap code or even the entire firmware</li>
              <li>Upload, flash, and upgrade firmware silently</li>
              <li>Disable ISP firmware upgrade</li>
              <li>Change every config file and settings</li>
              <li>Get and Set SNMP OID values</li>
              <li>Change all associated MAC Addresses</li>
              <li>Change serial numbers</li>
              <li>Be exploited in botnet</li>
            </ul>
          </div>
          <div class="mat-title">Exploit Demonstration</div>
          <p class="mat-body-2">
            Below we have a video demonstrating how the Cable Haunt vulnerability can be exploited on the Sagemcom F@st
            3890 modem. The code executing this exploit can be fount in the <a
              href="https://github.com/Lyrebirds/sagemcom-fast-3890-exploit">POC repository</a>. We chose to make a full
            exploit for this modem as we have confirmation from Sagemcom that they have a patch ready for this
            particular modem. We recommend everyone, customers and ISPs, to update to this firmware.
          </p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/5FM9mS5ck3Y" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div id="questions-and-answers" class="mat-display-2 center">
            FAQ
          </div>
          <mat-expansion-panel id="faq-am-i-affected" [(expanded)]="expanded[0]">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Am I Affected?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="mat-body-2">
              Start by determining if you get internet through a cable modem, since only cable modems are affected.
              If you do, you may be affected.
              Most people get their cable modem through their ISP.
              This means that the ISP is responsible for the firmware running on it and most likely have the means to
              fix the issue.
              The ISPs that have reported to us that they have fixed their devices, can be seen in the list below.
            </p>
            <p class="mat-body-2">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    ISPs
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                  <mat-list-item> TDC - Denmark </mat-list-item>
                  <mat-list-item> Stofa - Denmark </mat-list-item>
                  <mat-list-item> Get AS - Norway</mat-list-item>
                  <mat-list-item> Telia Norway </mat-list-item>
                  <mat-list-item> Com Hem / Tele2 - Sweden (Patch being deployed. Power cycles will update vulnerable
                    modems.) </mat-list-item>
                  <mat-list-item> NetCologne / NetAachen – Germany (Doesn't use Broadcom-based Modems) </mat-list-item>
                  <mat-list-item> Vodafone Germany (According to their twitter:
                    https://twitter.com/vodafoneservice/status/1216771645265924098) </mat-list-item>
                </mat-list>
              </mat-expansion-panel>
            </p>
            <p class="mat-body-2">
              If your ISP is not on the list it is still possible that they have fixed the issue, but not informed us.
              We recommend calling them and asking.
              If you find out they have fixed or are planning to fix the issue, we would very much appreciate if you
              would inform us at <a href="mailto:cablehaunt@lyrebirds.dk">cablehaunt@lyrebirds.dk</a>
            </p>
            <p class="mat-body-2">
              If your modem is not supplied by your ISP, or you want to check for yourself, you can check if your modem
              is in the lists of vulnerable modems below. This will require you to know your modems model and firmware
              version which can typically be found in the configuration user interface of the modem, running on
              the default gateway. Later, we will also describe how to manually test your modem and add it to the lists.
              Several modems have already been confirmed to
              be vulnerable and we are keeping lists updated as we receive information. We appreciate all the help we
              can get and have already received. If you want to help us, we
              thank you, and ask that you please read this and the <a
                (click)="scrollToAndExpand('faq-how-can-i-help', 4)">"What Should I Do?"-FAQ</a> below and contact us at
              <a href="mailto:cablehaunt@lyrebirds.dk">cablehaunt@lyrebirds.dk</a>.
            </p>
            <div id="faq-vulnerable-modems-sub" class="mat-title">
              Vulnerable Modems
            </div>
            <p class="mat-body-2">
              In the lists, the firmware version is the latest firmware that have been confirmed to be vulnerable.
              The port is the port on the local network where the spectrum analyser is running.
              If the spectrum analyser requires credentials, they are also provided together with the authentication
              type used. Some of the vulnerable modems have only been confirmed by third parties, and modems can
              therefore occur multiple times with different firmware and have missing information.
              If there is an asterisks at the end, it means that any subversion of model or firmware are vulnerable.
            </p>
            <p class="mat-body-2">
              <b>Modems confirmed by ISPs or us</b>
            </p>
            <table mat-table [dataSource]="vulnerableModemsDataSource" class="mat-elevation-z8 mat-body-2">
              <ng-container matColumnDef="model">
                <th mat-header-cell *matHeaderCellDef> Model </th>
                <td mat-cell *matCellDef="let element"> {{element.model}} </td>
              </ng-container>
              <ng-container matColumnDef="firmwareVersion">
                <th mat-header-cell *matHeaderCellDef> Firmware Version </th>
                <td mat-cell *matCellDef="let element"> {{element.firmwareVersion}} </td>
              </ng-container>
              <ng-container matColumnDef="port">
                <th mat-header-cell *matHeaderCellDef> Port </th>
                <td mat-cell *matCellDef="let element"> {{element.port}} </td>
              </ng-container>
              <ng-container matColumnDef="defaultUser">
                <th mat-header-cell *matHeaderCellDef> Default Credentials </th>
                <td mat-cell *matCellDef="let element"> {{element.defaultUser}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <p class="mat-body-2">
              <b>Modems confirmed by the community</b>
            </p>
            <div class="mat-elevation-z8 mat-body-2">
              <p class="mat-body-2">  
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
              </p>
              <table mat-table [dataSource]="communityVulnerableModemsDataSource" matSort>
                <ng-container matColumnDef="model">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Model </th>
                  <td mat-cell *matCellDef="let element"> {{element.model}} </td>
                </ng-container>
                <ng-container matColumnDef="firmwareVersion">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Firmware Version </th>
                  <td mat-cell *matCellDef="let element"> {{element.firmwareVersion}} </td>
                </ng-container>
                <ng-container matColumnDef="port">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Port </th>
                  <td mat-cell *matCellDef="let element"> {{element.port}} </td>
                </ng-container>
                <ng-container matColumnDef="defaultUser">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Default Credentials </th>
                  <td mat-cell *matCellDef="let element"> {{element.defaultUser}} </td>
                </ng-container>
                <ng-container matColumnDef="isp">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ISP of Reporter </th>
                  <td mat-cell *matCellDef="let element"> {{element.isp}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedUserReportedModemColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedUserReportedModemColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
            <p class="mat-body-2">
              If your modem is not in the lists above it could still be vulnerable.
              If you wish to verify if this is the case we highly recommend reading our report before continuing.
              It can be <a (click)="scrollToCenter('technical-report-download-button')">downloaded above</a>.
            </p>
            <p class="mat-body-2">
              The report contains the full exploit and all technical details needed to replicate, understand and test
              for the vulnerability. However, we have also developed a tool to check whether your modem is vulnerable,
              which can
              be found <a target="_blank" (click)="scrollToCenter('test-script-repo-button')">above</a>. <b>ONLY RUN
                THIS TEST ON EQUIPMENT YOU OWN</b>.
              The script automatically scans your network to find the spectrum analyser and tries to establish
              connection to the WebSocket. The script will test if the modem rejects requests from an external origin,
              by setting the header parameters similar to how a browser or other modern client would. If the
              connection is established the spectrum analyser can be reached indirectly from outside the local network
              and is, at least partly, vulnerable. The script will afterwards, with your permission, send a specially
              crafted package that reboots the modem if vulnerable. If this happens the modem is completely vulnerable.
            </p>
            <p class="mat-body-2">
              If you venture into this endeavour, we would very much like to hear your results at <a
                href="mailto:cablehaunt@lyrebirds.dk">cablehaunt@lyrebirds.dk</a>, no matter how small or
              big, or if they are already posted here.
            </p>
          </mat-expansion-panel>
          <mat-expansion-panel [(expanded)]="expanded[1]">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Have My Modem Already Been Exploited? And Can I Detect it?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="mat-body-2">
              It is very hard to detect whether your cable modem has already been exploited since Cable Haunt can be
              exploited
              for full control and a skilled person could therefore thoroughly cover their tracks. However, even though
              the vulnerability allows arbitrary code to be executed, it
              requires a lot of work from the attacker to find the needed commands and craft the package, for exploiting
              full control. For your average Joe, as long as "easy-to-use" exploit packages for specific modems have not
              been crafted, they are not the target. Which is one of the reasons for this website and why it is
              important Cable Haunt is fixed quickly.
            </p>
          </mat-expansion-panel>
          <mat-expansion-panel [(expanded)]="expanded[2]">
            <mat-expansion-panel-header>
              <mat-panel-title>
                What About Modems in Bridge Mode, or Behind a Firewall?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="mat-body-2">
              It is hard to say across all models, if the vulnerable endpoint is available when operating in bridge
              mode. We have however received several reports from individual users across the world, where the modem was
              still vulnerable even in bridge mode, so this is definitely not a security guarantee.
              If your modem is running behind a separate router/gateway, you might be safe by configuring a firewall
              restriction on the spectrum analyzer. In any case, it is a decent mitigation strategy, while waiting for
              your ISP to roll out deployments.
            </p>
          </mat-expansion-panel>
          <mat-expansion-panel [(expanded)]="expanded[3]">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Has It Been Abused In The Wild?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="mat-body-2">
              Maybe. We haven't found any evidence that suggests abuse, however a fairly skilled person could easily
              hide their
              exploitation.
            </p>
          </mat-expansion-panel>
          <mat-expansion-panel id="faq-how-can-i-help" [(expanded)]="expanded[4]">
            <mat-expansion-panel-header>
              <mat-panel-title>
                What Should I Do?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="mat-body-2">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    As a User
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="mat-body-2">
                  If you have the ability to update your cable modem yourself, check if your manufacturer have released
                  a patch that fixes the vulnerability and apply it.
                  Unfortunately, for most ISPs users are not able to update their modems themselves.
                  Therefore, for the vast majority of people the important thing right now is to get this information
                  out to the modem manufacturers as quickly as possible, preferably through your ISP, such that firmware
                  updates can be created and pushed to the modems by the ISP.
                  If your ISP have already reported to us that they have fixed the issue, we will add them to the <a
                    (click)="scrollToAndExpand('faq-am-i-affected', 0)">list above</a>.
                  If your ISP is not in this list, we recommend that you contact them and ask if your unit is or ever
                  was vulnerable to Cable Haunt.
                </p>
                <p class="mat-body-2">
                  If you are a bit more technically minded, start by checking if the modem is on the <a
                    (click)="scrollToExpandScrollTo('faq-am-i-affected','faq-vulnerable-modems-sub', 0)">list of
                    vulnerable modems</a>.
                  Even if your modem is not on the list, it may still be vulnerable.
                  We recommend trying see if the Spectrum Analyzer is available and vulnerable.
                  It can most commonly be found on <a href="http://192.168.100.1:8080">http://192.168.100.1:8080</a> but
                  not always, so please use a port scanner if available.
                  If found it can be tested with the javascript command or script found <a
                    (click)="scrollToCenter('test-script-repo-button')">above</a>.
                  The script can also help you locate the Spectrum Analyzer automatically.
                </p>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    As an Internet Provider
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="mat-body-2">
                  As the internet provider your customers rely on you to update the modems with a firmware that is not
                  vulnerable for Cable Haunt. It is important that you inform your customers on your current process and
                  what you are doing.
                </p>
                <p class="mat-body-2">
                  First you should determine which of you modems are vulnerable. We recommend letting your technical
                  personnel read the <a (click)="scrollToAndExpand('faq-am-i-affected', 0)">"Am I Affected?"-FAQ</a>
                  where they find a list containing modems already known to be vulnerable and
                  tools that help them test modems not included in the list. We also highly recommend letting your
                  technical personnel download and read <a
                    (click)="scrollToCenter('technical-report-download-button')">the technical report</a>. The report
                  contains the full vulnerability and all technical details needed to replicate, understand and test for
                  the vulnerability. This should help them understand the vulnerability in depth and determine which of
                  your modems are affected. When you have confirmed which of your modems are vulnerable, please let us
                  know the model and latest affected firmware version so that we can append the models to the list of
                  affected modems. If you need further help you are welcome to <a
                    href="mailto:cablehaunt@lyrebirds.dk">contact us</a> for assistance in determining which of your
                  cable modems are affected.
                </p>
                <p class="mat-body-2">
                  Next step is to create a firmware for the affected modems. While the report gives some understanding
                  for which parameters the reader should keep in mind when designing a solution, it focuses on
                  explaining the vulnerability, not a solution. You should contact your modem manufacturer and ask them
                  to create a new firmware that is not vulnerable which you can roll out as quickly as possible. There
                  are possible mitigation strategies you can employ while your manufacturer creates the new firmware but
                  these are out of scope for this FAQ. If you need help with mitigation or firmware for modems that are
                  out of support, you are welcome to contact <a
                    href="mailto:contact@lyrebirds.dk">contact@lyrebirds.dk</a>.
                </p>
                <p class="mat-body-2">
                  While rolling out the firmware it is important to keep your customers informed so they know exactly
                  when they are secure again. When all modems are updated inform your customers and help them take the
                  necessary precautions against potential attacks that could have happened while the modem was
                  vulnerable.
                </p>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    As a Researcher
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="mat-body-2">
                  The vulnerabilities can be found in different variations across different firmware versions. As a
                  small team, we lack the means to map out the affected systems, and we would be very thankful for any
                  help with expanding the list of confirmed vulnerable cable modems. Please download the <a
                    (click)="scrollToCenter('technical-report-download-button')">technical report</a> and test any
                  hardware you have available. Please <a href="mailto:cablehaunt@lyrebirds.dk">inform us</a> of any
                  modem and firmware version not <a (click)="expandAndScrollTo('faq-vulnerable-modems-sub', 0)">listed
                    above</a> that you know or suspect is affected. Exploits of this kind often have too long a
                  lifetime, because it can be difficult to determine exactly which systems are affected. This is
                  especially true for embedded systems.
                </p>
              </mat-expansion-panel>
            </p>
          </mat-expansion-panel>
          <mat-expansion-panel [(expanded)]="expanded[13]">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Can Cable Haunt Be Exploited Externally?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="mat-body-2">
              Yes. The vulnerable endpoint is only accessible on the local network, however due to compatibility
              concerns, WebSocket is not blocked by CORS and SOP in modern browsers. Since the Spectrum Analyzer
              webserver does not check the Host and Origin parameters set by the browser, any javascript running in the
              users browser are able to send an exploit package to the modem. This could be exploited by an attacker if
              you visit a malicious website or if they embed the code, for instance in an advert, on a trusted
              website. It is important to point out that this is not the only attack vector that can be employed,
              vulnerable mail-clients, exploited IoT devices, public networks etc. are also viable attack vectors.
            </p>
            <p class="mat-body-2">
              Many sources report the need for DNS rebind. While DNS rebind can be used in the exploit as explained in
              <a (click)="scrollToCenter('technical-report-download-button')">the report</a>, it is significantly easier
              for an attacker to exploit the modem via a direct javascript request.
            </p>
          </mat-expansion-panel>
          <mat-expansion-panel [(expanded)]="expanded[12]">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Has The Original Error Been Fixed?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="mat-body-2">
              As mentioned above the error originated from reference code published by Broadcom and released, together
              with the hardware, to the manufacturers. We have contacted Broadcom several times in the last year both
              directly and indirectly through ISPs and manufacturers.
              Close to the release, we got contacted by Broadcom who informed us that they had fixed the issue
              in their reference code back in April 2019 due to one of our reports, sent through an ISP. Broadcom has
              not told us what they are doing to inform the manufacturers, that they sent the vulnerable code to.
            </p>
            <p class="mat-body-2">
              Due to the nature of reference code, Broadcom have no centralized release structure to utilize for
              patching. The manufacturers decide what to do with the code received from Broadcom, and since a large
              number have copied the vulnerability any patch need to be implemented by the manufacturer. Neither
              Broadcom nor any of contacted manufacturers have agreed to send us either the original reference code or
              the patched version. We can therefore not verify how Broadcom have decided to patch the vulnerability in
              the reference code.
            </p>
          </mat-expansion-panel>
          <mat-expansion-panel [(expanded)]="expanded[5]">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Does This Break SSL/TLS?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="mat-body-2">
              No. This does not break encryption, as long as your connection is properly established between you and the
              intended recipient. However, your modem is most likely doing your DNS lookups and can act as a proxy, so
              you might still be in some trouble.
              With mechanisms like HSTS, exploiting this is becoming increasingly difficult, but not impossible.
            </p>
          </mat-expansion-panel>
          <mat-expansion-panel [(expanded)]="expanded[10]">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Am I Safe If My Modem Has a Randomized Password?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="mat-body-2">
              Probably not. The randomized password is usually only for the administration panel. Cable Haunt does not
              attack the administration panel, but a different web service, which runs separately. It is theoretically
              possible, that your model has randomized passwords for the spectrum analyzer as well, but it is highly
              unlikely.
            </p>
            <p class="mat-body-2">
              There is also an entire discussion to be had about shared passwords for 'technicians', which circumvent
              the randomized passwords given on a sticker, but that is an issue for a different site.
            </p>
          </mat-expansion-panel>
          <mat-expansion-panel [(expanded)]="expanded[6]">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Does This Work In All Browsers?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="mat-body-2">
              Not in general. The spectrum analyzer's WebSocket server is not compatible with the WebSocket version
              used in Firefox. In the report other techniques to exploit specific modems is described which works in
              Firefox.
            </p>
          </mat-expansion-panel>
          <mat-expansion-panel [(expanded)]="expanded[7]">
            <mat-expansion-panel-header>
              <mat-panel-title>
                What Is CVE-2019-19494 And CVE-2019-19495?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="mat-body-2">
              <a target="_blank" href="https://cve.mitre.org/">CVE®</a> is a dictionary that provides definitions for
              publicly disclosed cyber security vulnerabilities and exposures.
              <a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-19494">CVE-2019-19494</a> is the official
              reference to this vulnerability and <a
                href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-19495">CVE-2019-19495</a> is another more
              specific
              vulnerability only targeting the technicolor TC7230 modem gaining the same access.
              In the report CVE-2019-19495 is explained under appendix C.1.
            </p>
          </mat-expansion-panel>
          <mat-expansion-panel [(expanded)]="expanded[8]">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Why Is It Called Cable Haunt?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="mat-body-2">
              Cable Haunt exists solely in cable modems, where it have lived a silent, invisible and spectral existence.
              It has haunted the COAX cables across the world for
              many years and due to its origins in reference code, it will be hard to truly say when it has been
              exorcised from all affected modems... Also, spectre was taken.
            </p>
          </mat-expansion-panel>
          <mat-expansion-panel [(expanded)]="expanded[11]">
            <mat-expansion-panel-header>
              <mat-panel-title>
                A Branded Vulnerability? Is That Really Warranted?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="mat-body-2">
              Perhaps not. This is not heartbleed, EternalBlue, Meltdown or Row Hammer, and we have no illusions about
              this. And yes, Samuel Gross' recent publication of a vulnerability in iMessage much more technically
              interesting than a buffer overflow in cable modems. While exploitation, WebSockets aversion to CORS and
              SOP and creating ROP-chains in MIPS architecture, is interesting it is clear that it is the scale, and its
              spread across different manufacturers, that gives this vulnerability public significance.
            </p>
            <div class="mat-title">
              So Why Did You Brand It Anyway?
            </div>
            <p class="mat-body-2">
              The vulnerability was found across 4 different vendors, with a strong suspicion that these were not the
              only ones. (a suspicion that have since been confirmed). We have worked hard for nearly a year now to try
              and spread the information amongst ISPs, manufacturers and suppliers. And even while some have been
              graciously working with us, we could tell that it would have taken us several years to get the information
              out.
            </p>
            <p class="mat-body-2">
              At this rate it would eventually leak out of our hands and into organizations with time and resources to
              take advantage of the vulnerability. This is not fair for the users and would help expand, on scale, the
              ever growing problems with cyber security companies and people face every day.
            </p>
            <p class="mat-body-2">
              Without a way of unifying the issue across vendors, the chances of it being fixed universally were very
              slim.
            </p>
            <p class="mat-body-2">
              We are a small unknown crew with no reputation, and could therefore not establish connection with any
              manufacturers directly, even though we tried. With no avenue for significantly spreading the message, and
              having no followers, pitching a multistage exploit to major international providers and manufacturers,
              would not have been noticed by all the right people in time.
            </p>
            <p class="mat-body-2">
              Due to the origin of the vulnerability, we did not have the option of going to the owner of the code, and
              let them deploy a patch from a central source. In which case, this website would not exist.
            </p>
            <p class="mat-body-2">
              From our perspective, our only choice was to go big and branded to try to reach the affected end-users and
              let awareness bubble up from there. With this we run the risk of being seen as fearmongering upstarts who
              tries to sensationalize a buffer overflow in modems which some people would say is almost expected to be
              vulnerable. But this universal acceptance of modems and routers being insecure was not something we wanted
              to add to.
            </p>
          </mat-expansion-panel>
          <mat-expansion-panel [(expanded)]="expanded[9]">
            <mat-expansion-panel-header>
              <mat-panel-title>
                What Is Graffiti And How Is It Associated With Cable Haunt?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="mat-body-2">
              Graffiti was the working title for the vulnerability.
            </p>
          </mat-expansion-panel>
        </div>
      </div>
      <div fxFlex="1 1 0">
      </div>
      <footer fxFlex="0 0 auto">
        <app-footer></app-footer>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>